NEXT_PUBLIC_SITE_URL=https://aibornprotocol.xyz
NEXT_PUBLIC_X_URL=https://x.com/BornAI__
NEXT_PUBLIC_OPENSEA_URL=https://opensea.io/collection/aiborn-genesis/overview
NEXT_PUBLIC_GENESIS_LAUNCH=2026-09-16T14:15:00Z
NEXT_PUBLIC_GENESIS_SUPPLY=5000
NEXT_PUBLIC_DOCS_URL=/docs

